{% extends "base.html" %}

{% block content %}
{% load static %}

{% include "includes/stu_navbar.html" %}

<!-- Hero Section Start -->

<div class="container my-4 ">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border ">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <div class="lc-block mb-3">
        <div editable="rich">
          <h2 class="fw-bold display-4 ">Online Courses&nbsp;<p></p>
            <p></p>
          </h2>
        </div>
      </div>

      <div class="lc-block mb-3">
        <div editable="rich">
          <p class="lead">The Best Online Learning Platform.
          </p>
        </div>
      </div>

      <div class="lc-block d-grid gap-2 d-md-flex justify-content-md-start">
      </div>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden ">
      <div class="lc-block"><img class="rounded-start w-100" src="{% static 'images/Teacher_student/hero.png' %}"
          alt="Photo by Diego PH" width="720"></div>
    </div>
  </div>
</div>

<!-- Hero Section End -->


<!--Featured Course-->
<div class="container">

  <div class="container-fluid vesitable  ">
    <div class="container">
      <h1 class="mb-0">Featured Courses</h1>
    </div>

    <h4 class="text-dark">Total Available courses : {{p_count}}</h4>

    <div class="owl-carousel vegetable-carousel justify-content-center">
      {% for i in course %}

      <div class="border border-primary rounded position-relative vesitable-item">
        <div class="vesitable-img">
          <img src="{{i.img.url}}" class="img-fluid w-100 rounded-top" alt="">
        </div>

        <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">
          {{i.user.first_name}} {{i.user.last_name}}</div>

        <div class="p-4 rounded-bottom bg-dark ">
          <h4 class="text-white">{{i.title}}</h4>
          <p style=" 
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            height:56px;" class="text-white">{{i.description}}</p>
          <div class="d-flex justify-content-between flex-lg-wrap">
            <p class="text-white fs-5 fw-bold mb-0">${{i.price}}</p>
            <a href="{% url 'single_page' i.slug %}"
              class="btn  border border-secondary rounded-pill px-3 text-primary"><i
                class="fa fa-shopping-bag me-2 text-primary"></i> Learn More</a>
          </div>
        </div>

      </div>

      {% endfor %}

    </div>

  </div>

</div>




<div class="container py-3 mt-4 mb-4">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-lg-6">
      <!-- Section Heading-->
      <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s"
        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
        <h3>Our Top Creative <span> Teacher</span></h3>
        <p>Appland is completely creative, lightweight, clean &amp; super responsive app landing page.</p>
        <div class="line"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Single Advisor-->

    {% for i in teachers %}
    {% if i.user == 'admin@gmail.com' %}
      continue
    {% endif %}

    <div class="col-12 col-sm-6 col-lg-3 py-5">
      <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s"
        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
        <!-- Team Thumb-->
        <div class="advisor_thumb"><img src="{{i.image.url}}" class="img-fluid w-100 rounded-top" alt="">
          <!-- Social Info-->
          <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
        </div>
        <!-- Team Details-->
        <div class="single_advisor_details_info">
          <h6>{{i.first_name }} {{i.last_name}}</h6>

        </div>
      </div>
    </div>
    {% endfor %}


  </div>
</div>



{% endblock content %}